{% extends 'base.html.twig' %} {% block title %}Hello VideoController!{% endblock %} 
{% block body %}
    <style>
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
    .videos {
        /* display: flex; */
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,570px);   
    }
    .btn {
        padding: 10px;
        background-color: red;
        color: white;
    }
    </style>
    <div class="stat">
        {% if user != tutuber and isSubbed == false %}
            <a class="btn" href="{{ path('subscribeFunction', {tutuber_id : tutuber.id } ) }}">Subscribe</a>
        {% elseif isSubbed == true  %}
        <a class="btn" href="{{ path('unsubscribeFunction', {tutuber_id : tutuber.id } ) }}">Unsub</a>
        {% endif %}


        <p>Nombre de video on ligne : {{ countVideo }}</p>
        <p>Nombre de vue sur cette chaine : {{ viewOfChannel }}</p>
    </div>
    <div class="videos">
        {% for video in videoOfTutuber %}
    
        <div class="video" id="redirectIframe">
                <a class="href" href="{{ path('view_video',{url_id : video.url_id }) }}">
                    <iframe 
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/{{ video.url_id }}"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe> 
                    <p>{{video.name}}</p>
                </a>
                <p>{{video.date|date('d-m-Y')}}</p>
                <p>{{video.tutuber }}</p>
                <p>{{video.views|length}} views</p>
                {% if user == video.tutuber %}
				    <a class="btn" href="{{ path('delete_video', {id_video : video.id } ) }}">Supprimez</a>
                {% endif %}
            </div>
        {% endfor %} 
    </div>
{% endblock %}
    