{% extends 'baseLocal.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    {{ form_start(formVideo) }}
					{{ form_row(formVideo.ytb_url,{
						'label': 'Url de la video',
						'attr': {'class': 'form-control'}
					}) }}
					{{ form_row(formVideo.name,{
						'label': 'Titre'
					}) }}
					{{ form_row(formVideo.description,{
						'label': 'Description de la video',
					}) }}
					
					<button type="submit" class="btn">Ajouter video</button>
	{{ form_end(formVideo) }}
</div>
{% endblock %}
