{% extends 'base.html.twig' %} {% block title %}Hello VideoController!{%
endblock %} {% block body %}
<style>
  .comment {
    padding: 20px;
    width: 35%;
    border: 2px solid black;
  }
</style>

<div class="">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{ url }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  <p> titre : {{ video.name }}</p>
  <p> vue : {{ views }} </p>
  <p> Description : {{ video.description }} </p>

  <div class="comments">
    {% if userConnected %}
      <div class="commentForm">
        {{ form_start(commentForm) }}
          {{ form_row(commentForm.Content) }}
    
          <button type="submit" class="btn">Commentez</button>
        {{ form_end(commentForm) }}
      </div>
    {% endif %}
    {% for comment in comments %}
      <div class="comment"> 
        <p>{{ comment.Author }}</p>
        <p>{{ comment.Content }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
