<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css"
            href="/assets/css/reset.css" media="all" />
        <title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

		{% block cdn %}		
		{% endblock %}
		
		{% block javascripts %}
		{% endblock %}
	</head>
	<body>
    <style>
        html {
            height: 100%;
            width: 100%;
        }
        body { 
            
            margin-right: 3%;
            display: flex;
            height: 100%;

        }
        .sideBar {
            font-family: sans-serif;
            font-size: 20px;
            color: white;
            height: 100%;
            margin-right: 3%;
            width: 20%;
            background-color: #003049;
        }

        .subTutuber {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .subTutuber > a {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            text-decoration: none;
            color: white;
        }
        .subTutuber a:hover {
        background-color: #FCBF49;
        } 
        .isSelected {
            background-color: #FCBF49;
        }
        .body {
            width: 77%;
            overflow:scroll;
        }
        .body::-webkit-scrollbar{
            display: none; /* Chrome*/
        }
        .body {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    </style>
      {% block style %}

      {% endblock %}
        <div class="sideBar">
            <!-- <span>Abonnement</span> -->
            <div class="subTutuber">
                {% if '/admin/list/videos' in  url %}
                    <a class="href isSelected" href="{{ path('admin_show_listVideos') }}">Videos </a>
                {% else %} 
                    <a class="href" href="{{ path('admin_show_listVideos') }}">Videos </a>
                {% endif %}

                {% if '/admin/list/tutubers' in  url %}
                    <a class="href isSelected" href="{{ path('admin_show_listTutubers') }}">Tutubers </a>
                {% else %} 
                    <a class="href" href="{{ path('admin_show_listTutubers') }}">Tutubers </a>
                {% endif %}
                <a class="" href="{{ path('home')}}">Quittez le Back-office</a>

            </div>
        </div>
        <div class="body">
            {% block body %}
    
            {% endblock %}

        </div>
	</body>
</html>